.navbar-brand{
    background-color: rgb(23, 96, 97);
    color: white;
    margin: 10px;
    width: 250px;
    text-align:center;
  
}

body{
    background-color: rgb(243, 239, 239);
}

.container{
    margin:25px;
    padding: 10px;
    background-color: white;
  
   
}

.desktop{  
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
   
} 


.card-footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: lightgray;
   

}


  @media screen and (max-width: 767px) {
    .container{
        width: 100%;
        height:60%

    }
    .navbar-brand{
        width:100%;
    }

    .desktop{
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 18px;
      }
     
    .card-footer{
        position: static;
    }
  }