
.navbar-brand{
    color: rgb(83, 19, 69);
    margin: 8px;
    text-align:center;
    font-family: 'Sail', cursive;
    font-size: 30px;
}

.nav-link{
   color: rgb(83, 19, 69);
   font-family: 'Kotta One', serif;
   margin-top:10px;
   font-size: 20px;
}

h3{
   color: rgb(83, 19, 69);
   font-family: 'Rye', cursive;;
}

body{
    background-color: rgb(243, 239, 239);
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;  
}

.container{   
    background-color: white;  
}

.desktop{  
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
} 

/*Code to make the image as responsive in About page */
.imgResponsive{
    max-width:180px;
    height:auto;
}

p{
    font-family: serif;
    font-size: 18px;
    font-style: normal;
}
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color:darkgrey;
}

/* Styling portfolio page */
.imagecontainer{
    position: relative;  
}

/* To make content align with image in Portfolio page*/
.text-block{
    position:absolute;
    bottom:30px;
    background-color: rgb(15, 211, 214);
    color: white;
    text-align:center;
    width:100%;    
}

  @media screen and (max-width: 767px) {
    .navbar-brand{
        width:100%;
    }
    .navbar-nav{
        display:flex;
        flex-direction: row;    
    }
    .desktop{      
        left: 35%;
        top: 55%; 
        font-size: 18px;     
        
    }  
    .navbar-nav .nav-link {
        padding-right: 10px;
        padding-left: 0;
    }    
}

    @media screen and (max-width: 530px) {
        .desktop{      
            left: 28%;
        }
    
  }

  @media screen and (max-width: 500px) {
  p{
      margin-top:190px;
  }

}

  
 